:root {
    --background-color: #020202;
    --secondary-color: #0d2818;
    --third-color: #04471c;
    --fourth-color: #058c42;
    --fifth-color: #16db65;
}


body {
    background-color: var(--background-color);
    font-family: 'Poppins', sans-serif;
    color: #fff;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    -ms-overflow-style: none;
}


.banner {
    top: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    opacity: 0.5;
}

.banner #spidermanEffect {
    position: absolute;
    background-color: transparent;
    left: 0;
    pointer-events: none;
}

a {
    text-decoration: none;
    color: #fff;
}

nav {
    display: flex;
    position: fixed;
    align-items: center;
    gap: 30px;
    border-radius: 16px;
    padding: 15px;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: 10px;
    background-color: rgba(22, 219, 101,0.3);
    z-index: 1000;
    filter: drop-shadow(0px 10px 10px #000);
}

nav .logo img {
    width: 30px;
}

nav .logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

nav .logo a {
    font-weight: 800;
}

nav .nav-links {
    display: flex;
    gap: 20px;
    font-size: 14px;
    color: #748d92;
    transition: all 0.3s ease;
}

nav .nav-links a:hover {
    color: #fff;
    text-shadow: 0px 0px 3px white;
}

nav button {
    font-family: 'Poppins';
    align-items: center;
    display: flex;
    gap: 5px;
    float: none;
    border-radius: 10px;
    padding: 5px;
    background-color: black;
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 2; 
}

nav button:hover {
    background-color: #fff;
    color: black;
}

.hamburger{
    display: none; 
    position: relative;
}

.hamburger i{
    color: var(--fifth-color);
    cursor: pointer;
    font-size: 30px;
    font-weight: 1000;
    margin: 0;
}

.hamburger i:hover{
    animation: flipani 0.5s ease-in-out forwards;
}

@keyframes flipani {
    0% {
        transform: rotateY(0deg); 
    }
    50% {
        transform: rotateY(180deg); 
    }
    100% {
        transform: rotateY(180deg);
    }
}

.mobile-menu{
    display: none;
    flex-direction: column;
    background-color: var(--background-color);
    align-items: end;
    box-shadow: 0px 0px 10px rgba(22, 219, 101, 0.5);
    padding: 15px;
    border-radius: 10px;
    transform-origin: center bottom;
    transform-box: 10px 10px;
}

.mobile-menu i{
    font-size: 30px;
    color: var(--fifth-color);
    cursor: pointer;
}

.Home {
    position: relative;
    display: flex;
    margin-top: 200px;
    margin-left: 10%;
    z-index: 1;
    margin-right: 5%;
}

.Home .cursor{
    position: absolute;
    color: var(--fifth-color);
    animation: blink 1s ease-in-out infinite;
}

.Home h4 {
    font-size: 64px;
    margin-bottom: 0;
}

.Home h4 span {
    color: var(--fifth-color);
}

.Home p {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

.Home .welcome{
    display: flex;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 10%;
    text-align: justify;
    margin-bottom: 20px;
}

.Home .img-wrapper {
    position: relative;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.Home img {
    border-radius: 50%;
    max-width: 100%;
    display: block;
    clip-path: circle(50%);
    object-fit: cover;
}

.img-wrapper::before,
.img-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    z-index: -1;
}

.img-wrapper::before {
    background-color: var(--fifth-color);
    animation: animeB 8s ease-in-out infinite;
}

.img-wrapper::after {
    background-color: var(--third-color);
    animation: animeA 8s ease-in-out infinite;
}

.img-wrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.Home button {
    font-family: 'Poppins', sans-serif;
    border: none;
    height: 40px;
    width: 160px;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    background-color: var(--fourth-color);
    color: #fff;
}

.Home button i {
    font-size: 20px;
    align-items: center;
    margin-left: 5px;
}

.Home button:hover {
    box-shadow: 10px 10px var(--fifth-color);
    margin-top: 15px;
    margin-left: 15px;
    transition: 0.3s linear;
    background-color: #fff;
    color: black;
}

@keyframes animeA {
    0% {
        border-radius: 31% 69% 32% 68% / 52% 61% 39% 48%;
    }
    50% {
        border-radius: 67% 33% 47% 53% / 65% 28% 72% 35%;
    }
    100% {
        border-radius: 31% 69% 32% 68% / 52% 61% 39% 48%;
    }
}

@keyframes animeB {
    0% {
        border-radius: 67% 33% 47% 53% / 65% 28% 72% 35%;
    }
    50% {
        border-radius: 31% 69% 32% 68% / 52% 61% 39% 48%;
    }
    100% {
        border-radius: 67% 33% 47% 53% / 65% 28% 72% 35%;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.about {
    position: relative;
    margin-top: 250px;
    display: flex;
    margin-left: 10%;
    z-index: 1;
    margin-top: 0px;
    margin-right: 5%;
}

.about .aboutme h4{
    font-size: 64px;
    color: var(--fifth-color);
    margin-top: 0px;
    margin-bottom: 10px;
}

.about .aboutme p{
    display: flex;
    font-size: 20px;
    margin-top: 0;
    margin-right: 10%;
    text-align: justify;
}

.about .aboutme span{
    animation: blink 1s ease-in-out infinite;
}

.about .icons a{
    position: relative;
    display: inline;
    font-size: 30px;
    padding-right: 20px;
    color: var(--fifth-color) !important;
}

.about .icons a .ri-linkedin-box-fill:hover {
    font-size: 30px;
    color: #fff;
}

.about .icons a .ri-facebook-box-fill:hover {
    font-size: 30px;
    color: #fff;
}

.about .icons .ri-twitter-x-fill:hover {
    font-size: 30px;
    color: #fff;
}

.gallery {
    position: relative;
    border: 4px solid #282828;
    border-radius: 50%;
    width: 18.5vw;
    height: 10vw;
    max-width: 800px;
    max-height: 800px;
    overflow: hidden;
    margin: auto;
    margin-bottom: 0;
    box-sizing: border-box;
    box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.1), 10px 10px 10px rgba(0, 0, 0, 0.4),
    inset -5px -5px 5px rgba(255, 255, 255, 0.1), inset 10px 10px 10px rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.gallery::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;
    z-index: 10;
    background: var(--background-color);
    border-radius: 50%;
    border: 2px solid #292929;
    box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 0.2), inset 3px 3px 5px rgba(124, 124, 124, 0.5);
}

.gallery span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: linear-gradient(
        -225deg,
        #16db65 0%,
        #058c42 50%,
        #04471c 100%
    );
    filter: blur(20px);
    z-index: 1;
    animation: rot 1s linear infinite, hue 3s linear infinite;
}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }   
    100% {
        transform: rotate(360deg);
    } 
}

@keyframes hue {
    0% {
        filter: rotate(0deg);
    }
    100% {
        filter: rotate(360deg);
    }
}


@keyframes blink {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media (max-width: 1024px) {
    body{
        overflow-x: hidden;
    }
    .Home{
        display: flex;
        flex-direction: column;
        gap: 100px;
        margin-top: 0px;
        margin-left: 10%;
        margin-right: 5%;
        margin-bottom: 50px;
    }

    .Home h4{
        font-size: 50px;
        margin-bottom: 0px;
    }

    .Home .welcome{
        font-size: 14px;
        
    }

    .Home p span{
        margin: 0;
    }

    .Home p{
        font-size: 32px;
        margin-top: 0;
    }

    .Home .topic{
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .about {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .about .aboutme p{
        font-size: 14px;
    }

    .about .aboutme h4{
        font-size: 50px;
    }

    .icons {
        display: flex;
        margin-bottom: 20px;
    }

    .gallery {
        justify-content: center;
        width: 20vw;
        height: 20vw;
        max-width: 300px;
        max-height: 300px;
        margin-top: 20px;
    }

    nav{
        background-color: var(--background-color);
        border: none;
        position: relative;
        justify-content: flex-end;
        margin-top: 20px;
        margin-right: 10%;
        background-color: rgba(13, 40, 24, 0);
        cursor: pointer;
    }

    .nav{
        padding: 0;
    }

    .nav .nav-links{
        display: none;
    }

    .nav button{
        display: none;
    }

    .nav .logo{
        display: none;
    }

    .hamburger {
        display: flex;
        padding: 10px;
        position: fixed;
    }

    .mobile-menu.active {
        display: flex;
        position: relative;
    }
    
    .Home .overview pre{
        margin-right: 10%;
    }

    .boxlogo{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .boxlogo i{
        font-size: 30px;
    }

    .row1-skills {
      display: flex; 
      flex-direction: column !important;
      justify-content: center;
      align-items: center;
    }

    .row2-skills{
      display: flex; 
      flex-direction: column !important;
      justify-content: center;
      align-items: center;
    }
  
    .skills {
      height: 200% !important;
      width: 100% !important;
    }
  
    .box {
      width: 120px !important; 
      height: 125px !important;  
      margin-bottom: 20px !important;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
  
    .box .content .percent {
      width: 70px !important;  
      height: 70px !important; 
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
    }
  
    .box .content .percent::before {
      font-size: 0.5rem !important; 
    }
  
    .box .content .percent svg {
      width: 70px !important;  
      height: 70px !important;  
      position: absolute;
      display: flex;
    }
  
    .box .content .percent .dot::before {
      width: 10px !important;  
      height: 10px !important; 
    }
  
    .percent svg circle:first-child {
      stroke: #e6e6e6;
      position: absolute;
    }
    
    .percent svg circle:last-child {
      stroke-dasharray: 188.4 !important;
      stroke-dashoffset: calc(188.4 - (188.4 * var(--num)) / 100) !important;
      stroke: #00ff43;
    }

    .box .content .percent svg circle {
      cx: 35;  
      cy: 35;  
      r: 30;  
      stroke-width: 5;  
    }
  
    .box .content .number h2 {
      font-size: 1.2rem !important; 
    }

    .percent svg {
      position: relative;
      width: 50% !important;
      height: 50% !important;
      transform: rotate(-90deg) !important;
      right: 6px;
      top: 5px;
    }

    .projects {
        padding: 20px 0; /* Adjusted padding for smaller screens */
    }
    
    .cardlist {
        padding: 1rem; /* Reduced padding for smaller screens */
        overflow-x: auto; /* Changed to auto for better scroll handling on smaller screens */
        display: flex;
        flex-wrap: nowrap; /* Prevents wrapping items on smaller screens */
    }
    
    .card {
        width: 250px; /* Adjusted width for smaller screens */
        min-width: auto; /* Remove min-width to allow flexibility */
        margin-right: 1rem; /* Added margin between cards */
    }

    .cardheader img {
        width: 100%; /* Make image responsive within card */
        height: auto; /* Maintain aspect ratio */
        filter: blur(3px); /* Keep initial blur effect */
    }

    .cardheader button {
        width: 100%; /* Make button full width */
        margin-top: 1rem; /* Added spacing above button */
    }

    .skil {
        justify-content: space-around; /* Adjusted spacing between skill items */
    }

    .skil p {
        width: auto; /* Allow skills to adjust width based on content */
        margin-bottom: 1rem; /* Added spacing between skill items */
    }

    .card:hover {
        transform: translateX(0); /* Reset hover effect for smaller screens */
    }

    .cardlist .card:first-child:hover {
        transform: translateX(0); /* Reset hover effect for smaller screens */
    }

    .card:hover ~ .card {
        transform: translateX(0); /* Reset hover effect for smaller screens */
    }

    .card:not(:first-child) {
        margin-left: 0; /* Reset margin for smaller screens */
    }

    .cardlist .card:first-child {
        background: none; /* Removed specific background for first card on hover */
    }

    .certify {
      height: 90vh; /* Adjust the height to better fit smaller screens */
  }

  .certify .slider-thumb {
      left: 20%; /* Adjust position for smaller screens */
      top: 15%; /* Adjust position for smaller screens */
      width: 300px; /* Smaller width for mobile screens */
      height: 300px; /* Smaller height for mobile screens */
  }

  .certify .slide img {
      width: 90%; /* Make the images responsive */
  }

  .certify input + label {
      width: 8px; /* Adjust dot size for mobile screens */
      height: 8px; /* Adjust dot size for mobile screens */
      margin: 0 4px; /* Adjust margin for smaller screens */
  }

  .arrow {
      padding: 8px; /* Adjust arrow button padding for mobile screens */
  }

  .arrow.left {
      left: 10px; /* Adjust position for smaller screens */
  }

  .arrow.right {
      right: 10px; /* Adjust position for smaller screens */
  }

  .arrow i {
      font-size: 20px; /* Adjust icon size for smaller screens */
  }
  .certify .slide img {
    width: 100vw;
    object-fit: cover;
  }

  .cardheader img{
    width: 250px !important;
  }

  .cardheader h2{
    font-size: 18px !important;
  }

  .skil{
    flex-wrap: wrap;
  }

  .skil p{
    width: 50px !important; 
    font-size: 10px !important;
    margin-bottom: 0px;
  }

  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }

  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }

}

.skills {
    margin-top: 50px;
    background-color: var(--secondary-color);
    position: relative;
    padding: 50px 0px;
    width: 100%;
    z-index: 1;
  }
  
  .skills-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .skills h4 {
    display: flex;
    position: relative;
    font-size: 50px;
    align-items: center;
    justify-content: center;
  }
  
  .boxlogo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .boxlogo i {
    font-size: 50px;
  }
  
  .row1-skills,
  .row2-skills {
    display: flex;
    flex-direction: row;
    margin-right: 10%;
    gap: 60px;
  }
  
  .s1 {
    margin-top: 50px;
    margin-left: 5%;
  }
  
  .box {
    position: relative;
    width: 240px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  
  .box .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #eee;
  }
  
  .box .shadow::before {
    content: '';
    position: absolute;
    top: 0;
    left: calc(100% + 5px);
    width: 100%;
    height: 200%;
    background: linear-gradient(rgba(0,0,0,0.075), transparent);
    transform: skewX(45deg);
  }
  
  .box .shadow::after {
    content: '';
    position: absolute;
    bottom: -200%;
    left: calc(100% + 15px);
    width: 100%;
    height: 200%;
    background: linear-gradient(rgba(0,0,0,0.075), transparent);
    transform: skewX(45deg);
  }
  
  .box .content {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(#dbdae1, #a3aaba);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1),
      15px 15px 15px rgba(0,0,0,0.1),
      20px 20px 20px rgba(0,0,0,0.1),
      50px 50px 50px rgba(0,0,0,0.1),
      inset 3px 3px 2px #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .box .content .percent {
    position: relative;
    width: 150px;
    height: 150px;
  }
  
  .box .content .percent::before {
    content: attr(data-text);
    position: absolute;
    inset: 20px;
    background: var(--fourth-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.75rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }
  
  .box .content .percent svg {
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
  }
  
  .box .content .percent svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 3;
    stroke: rgba(0,0,0,0.05);
    transform: translate(5px, 5px);
  }
  
  .box .content .percent svg circle:nth-child(2) {
    stroke: var(--fourth-color);
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
    opacity: 0;
    animation: fadeIn 0.5s linear forwards;
    animation-delay: 2s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .box .content .percent .dot {
    position: absolute;
    inset: 5px;
    z-index: 10;
    animation: animateDot 2s linear forwards;
  }
  
  @keyframes animateDot {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(calc(3.6deg * var(--num)));
    }
  }
  
  .box .content .percent .dot::before {
    content: '';
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    background: var(--fourth-color);
    border-radius: 50%;
  }
  
  .box .content .number {
    position: relative;
    inset: 0;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
  }
  
  .box .content .number h2 {
    font-size: 2.5rem;
    color: var(--fourth-color);
  }
  
  .box .content .number h2 span {
    font-weight: 300;
    font-size: 1.5rem;
  }
  
  .projects {
    display: flex;
    margin-top: 50px;
    position: relative;
    padding: 50px 0;
    width: 100%;
    z-index: 1;
    background: var(--background-color);
  }
  
  .cardlist {
    display: flex;
    padding: 3rem;
    overflow-x: scroll;
  }
  
  .card {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 350px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 15px;
    background: #17141d;
    box-shadow: -1rem 0 3rem #000; 
    transition: 0.2s ease-in-out;
  }

  .cardlist .card:first-child {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 350px;
    width: 400px;
    min-width: 250px;
    border-radius: 15px;
    background: #17141d;
    box-shadow: -1rem 0 3rem #000; 
    transition: 0.5s ease-in-out;
    justify-content: center;
  }
  
  .cardlist .card:first-child h4 {
    position: relative;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 50px;
    color: #fff;
    display: flex;
    cursor: pointer;
  }
  
  .card h4{
    position: relative;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card h2{
    font-size: 20px;
  }

  .cardheader .h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .cardheader img {
    width: 280px;
    height: 140px;
    object-fit: cover;
    border-radius: 10px;
    filter: blur(3px);
    box-shadow:  0px 0px 10px #000;
    transition: 0.5s ease-in-out;
}

  .cardheader button{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    gap: 10px;
    width: 100%;
    height: 40px;
    background-color: #fff;
    color: var(--fourth-color);
    border-radius: 10px;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: none;
    border: none;
    transition: 0.5s ease-in-out;
  }

  .cardheader button i{
    font-size: 25px;
  }

  .card:hover button{
    background-color: var(--fourth-color);
    color: #fff;
  }

  .card:hover img{
    filter: blur(0px);
  }

  .card:hover h2{
    background: linear-gradient(270deg, #00ff43, #04471c);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    cursor: pointer;
    animation: textani 2s ease-in-out infinite;
    background-size: 200% auto;
    background-position: 100% 0;
}

@keyframes textani {
    0% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 0% 50%;
    }
    100%{
        background-position: 100% 50%;
    }
}
  
  .cardlist .card:first-child {
    background: linear-gradient(#058c42, #04471c);
  }
  
  
  .cardlist::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  
  .cardlist::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, .25), inset -2px -2px -2px hsla(0, 0%, 1%, .5);
  }
  
  .cardlist::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .card:hover {
    transform: translateX(-1rem);
  }

  .cardlist .card:first-child:hover{
    transform: translateX(-1rem);
    align-items: center;
  }
  
  .card:hover~.card {
    transform: translateX(130px);
  }
  
  .card:not(:first-child) {
    margin-left: -130px;
  }
  
  .space {
    height: 50px;
  }
  
  .skil{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .skil p{
    box-sizing:content-box;
    margin-bottom: 10px;
    padding: 6px 8px;
    background-color: #17141d;
    color: #fff;
    width: 70px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: inset 0px 0px 7px rgba(78, 78, 78, 0.6), 0px 0px 1px rgba(65, 65, 65, 0.3);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.5s ease-in-out;
  }

  .skil p:hover{
    box-shadow: inset 0px 0px 15px rgba(78, 78, 78, 0.6);
  }

  .certify {
    position: relative;
    width: 100%;
    height: 95vh; /* Adjusted to use 95% of viewport height */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    overflow: hidden;
  }
  
  .certify .slide {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  }

  .certify .slide img{
    transition: 0.4s ease-in-out;
  }

  .certify .slide img:hover {
    box-shadow: 0px 0px 20px var(--background-color);
  }
  
  .certify input:checked + label + .slide {
    opacity: 1;
    transform: translateX(0);
  }
  
  .certify input + label {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: solid 2px var(--third-color);
    border-radius: 999px;
    background-color: transparent;
    margin: 0 6px;
    margin-top: 700px;
    z-index: 2;
    cursor: pointer;
    transition-duration: .4s;
    box-shadow: 0 0 20px 0 #000;
  }
  
  .certify input:checked + label {
    background-color: #00ff43;
  }
  .certify input:focus + label {
    box-shadow: 0 0 0 2px teal, 0 0 18px white;
  }

  .certify input[type="radio"] {
    display: none;
}
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 255, 67, 0.8);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
    color: var(--background-color);
    transition: 0.4s ease-in-out;
  }

  .arrow:hover{
    filter: drop-shadow(0px 0px 5px #ffffff);
  }
  
  .arrow.left {
    left: 20px; 
  }
  
  .arrow.right {
    right: 20px;
  }
  
  .arrow i {
    font-size: 24px;
  }

.certify {
  height: 100vh;
  background: linear-gradient(90deg,#04471c,#058c42);
}

.certify .slider-thumb {
  position: absolute;
  left: 40%;
  top: 15%;
  width: 1000px;
  height: 1000px;
  background: var(--background-color);
  border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
  will-change: border-radius, transform, opacity;
  animation: sliderShape 5s linear infinite;
  z-index: 0;
  display: block;
}

.certify h4 {
  position: absolute;
  top: 10px;
  width: 100%;
  font-size: 50px;
  text-align: center;
  color: #fff;
  z-index: 10;
  margin: 0;
  padding: 10px;
  border-radius: 8px;
}

.certify h4 span{
  animation: blink 1s ease-in-out infinite;
}

@keyframes sliderShape {
    0%, 100% {
        border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
        transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    34% {
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
        transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
    }
    50% {
        transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    67% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
        transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
    }
}

.contact-section {
  padding: 80px 0;
  background-color: #f9f9f9;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid var(--fourth-color);
  border-radius: 4px;
}

textarea {
  resize: vertical; 
}

.btn-submit {
  background-color: #00ff43;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.btn-submit:hover {
  background-color: #00ff43;
}

.background {
  display: flex;
  min-height: 100vh;
}

.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: var(--secondary-color);
  border-radius: 15px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(13, 40, 24, 0.4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: var(--third-color);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
  animation: load 1s ease-in-out infinite;
}

.screen-header-button.close {
  background: #ed1c2d;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: var(--fifth-color);
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: var(--fifth-color);
  font-size: 26px;
}

@keyframes load {
  0%,100%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: var(--fifth-color);
  animation: move 1s ease-in-out infinite;
}

@keyframes move {
  0%, 100%{
    transform: translateX(0px);
  }
  50%{
    transform: translateX(50px);
  }
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px;
  background: none;
  border: 1px solid var(--fourth-color);
  color: var(--fifth-color);
  font-size: 14px;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: var(--fourth-color);
}

.app-form-control:focus {
  border-bottom-color: var(--fourth-color);
}

.app-form-button {
  background: none;
  border: none;
  color: var(--fifth-color);
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: var(--fifth-color);
}

/*footer*/

footer {
  width:100vw;
  position: relative;
  bottom: 0px;
  padding: 0;
  margin: 0;
  gap: 0;
}
footer div {
  background-color: var(--fourth-color);
  margin: -5px 0px 0px 0px;
  padding:0px;
  color: #fff;
  text-align:center;
}
svg {
  width:100%;
}

.wave {
  animation: wave 3s linear;
  animation-iteration-count:infinite;
  fill: var(--fourth-color);
}

#wave2 {
  animation-duration:5s;
  animation-direction: reverse;
  opacity: .6
}
#wave3 {
  animation-duration: 7s;
  opacity:.3;
}

@keyframes wave {
  to {transform: translateX(-100%);}
}



.footer .container p{
  display: flex;
  flex-direction: row;
  gap: 15px;
}

footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px; 
  padding: 10px; 
  color: #fff;
  background-color: transparent;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

footer .container p {
  margin: 0; 
}

footer .container p a {
  color: #fff;
  text-decoration: none; 
  position: relative; 
}

footer .container p a:hover {
  color: #fff;
}

footer .container p a:hover::after {
  content: '';
  position: absolute; 
  left: 0; 
  bottom: -3px;
  width: 100%; 
  height: 2px; 
  background-color: #fff; 
}
footer .container p i{
  font-size: 30px;
  transition: 0.4s ease-in-out;
  position: relative;
}

footer .container p i:hover{
  font-size: 40px;
}

.js-scroll {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.js-scroll.scrolled {
  opacity: 1;
}
