:root {
    --background-color: #020202;
    --secondary-color: #0d2818;
    --third-color: #04471c;
    --fourth-color: #058c42;
    --fifth-color: #16db65;
}

#content {
    display: block;
}

body {
    background-color: var(--background-color);
    font-family: 'Poppins', sans-serif;
    color: #fff;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}


.banner {
    top: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    opacity: 0.5;
}

.banner #spidermanEffect {
    position: absolute;
    background-color: transparent;
    left: 0;
    pointer-events: none;
}

a {
    text-decoration: none;
    color: #fff;
}

nav {
    display: flex;
    position: absolute;
    align-items: center;
    gap: 30px;
    border: 1px solid var(--secondary-color);
    border-radius: 16px;
    padding: 12px;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: 10px;
    background-color: rgba(13, 40, 24, 0.5);
    z-index: 1; /* Ensure nav has a higher z-index */
}

nav .logo img {
    width: 30px;
}

nav .logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

nav .logo a {
    font-weight: 800;
}

nav .nav-links {
    display: flex;
    gap: 20px;
    font-size: 14px;
    color: #748d92;
    transition: all 0.3s ease;
}

nav .nav-links a:hover {
    color: #fff;
    text-shadow: 0px 0px 3px white;
}

nav button {
    font-family: 'Poppins';
    align-items: center;
    display: flex;
    gap: 5px;
    float: none;
    border-radius: 10px;
    padding: 5px;
    background-color: black;
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 2; 
}

nav button:hover {
    background-color: #fff;
    color: black;
}

.hamburger{
    display: none; 
    position: relative;
}

.hamburger i{
    color: var(--fifth-color);
    cursor: pointer;
    font-size: 30px;
    font-weight: 1000;
    margin: 0;
}

.hamburger i:hover{
    animation: flipani 0.5s ease-in-out forwards;
}

@keyframes flipani {
    0% {
        transform: rotateY(0deg); 
    }
    50% {
        transform: rotateY(180deg); 
    }
    100% {
        transform: rotateY(180deg);
    }
}

.mobile-menu{
    display: none;
    flex-direction: column;
    background-color: var(--background-color);
    align-items: end;
    box-shadow: 0px 0px 10px rgba(22, 219, 101, 0.5);
    padding: 15px;
    border-radius: 10px;
    transform-origin: center bottom;
    transform-box: 10px 10px;
}

.mobile-menu i{
    font-size: 30px;
    color: var(--fifth-color);
    cursor: pointer;
}

.Home {
    position: relative;
    display: flex;
    margin-top: 200px;
    margin-left: 10%;
    z-index: 1;
    margin-right: 5%;
}

.Home .cursor{
    position: absolute;
    color: var(--fifth-color);
    animation: blink 1s ease-in-out infinite;
}

.Home h4 {
    font-size: 64px;
    margin-bottom: 0;
}

.Home h4 span {
    color: var(--fifth-color);
}

.Home p {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

.Home .welcome{
    display: flex;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 10%;
    text-align: justify;
    margin-bottom: 20px;
}

.Home .img-wrapper {
    position: relative;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.Home img {
    border-radius: 50%;
    max-width: 100%;
    display: block;
    clip-path: circle(50%);
    object-fit: cover;
}

.img-wrapper::before,
.img-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    z-index: -1;
}

.img-wrapper::before {
    background-color: var(--fifth-color);
    animation: animeB 8s ease-in-out infinite;
}

.img-wrapper::after {
    background-color: var(--third-color);
    animation: animeA 8s ease-in-out infinite;
}

.img-wrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.Home button {
    font-family: 'Poppins', sans-serif;
    border: none;
    height: 40px;
    width: 160px;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    background-color: var(--fourth-color);
    color: #fff;
}

.Home button i {
    font-size: 20px;
    align-items: center;
    margin-left: 5px;
}

.Home button:hover {
    box-shadow: 10px 10px var(--fifth-color);
    margin-top: 15px;
    margin-left: 15px;
    transition: 0.3s linear;
    background-color: #fff;
    color: black;
}

@keyframes animeA {
    0% {
        border-radius: 31% 69% 32% 68% / 52% 61% 39% 48%;
    }
    50% {
        border-radius: 67% 33% 47% 53% / 65% 28% 72% 35%;
    }
    100% {
        border-radius: 31% 69% 32% 68% / 52% 61% 39% 48%;
    }
}

@keyframes animeB {
    0% {
        border-radius: 67% 33% 47% 53% / 65% 28% 72% 35%;
    }
    50% {
        border-radius: 31% 69% 32% 68% / 52% 61% 39% 48%;
    }
    100% {
        border-radius: 67% 33% 47% 53% / 65% 28% 72% 35%;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.about {
    position: relative;
    margin-top: 250px;
    display: flex;
    margin-left: 10%;
    z-index: 1;
    margin-top: 0px;
    margin-right: 5%;
}

.about .aboutme h4{
    font-size: 64px;
    color: var(--fifth-color);
    margin-top: 0px;
    margin-bottom: 10px;
}

.about .aboutme p{
    display: flex;
    font-size: 20px;
    margin-top: 0;
    margin-right: 10%;
    text-align: justify;
}

.about .aboutme span{
    animation: blink 1s ease-in-out infinite;
}

.about .icons{
    position: relative;
    display: flex;
    font-size: 30px;
    gap: 20px;
    color: var(--fifth-color);
}

.about .icons .ri-linkedin-box-fill:hover {
    font-size: 30px;
    color: #fff;
    animation: rotate 0.5s ease-in;
}

.about .icons .ri-facebook-box-fill:hover {
    font-size: 30px;
    color: #fff;
    animation: rotate 0.5s ease-in;
}

.about .icons .ri-instagram-fill:hover {
    font-size: 30px;
    color: #fff;
    animation: rotate 0.5s ease-in;
}

.gallery {
    position: relative;
    border: 4px solid #282828;
    border-radius: 50%;
    width: 18.5vw;
    height: 10vw;
    max-width: 800px;
    max-height: 800px;
    overflow: hidden;
    margin: auto;
    margin-bottom: 0;
    box-sizing: border-box;
    box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.1), 10px 10px 10px rgba(0, 0, 0, 0.4),
    inset -5px -5px 5px rgba(255, 255, 255, 0.1), inset 10px 10px 10px rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.gallery::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;
    z-index: 10;
    background: var(--background-color);
    border-radius: 50%;
    border: 2px solid #292929;
    box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 0.2), inset 3px 3px 5px rgba(124, 124, 124, 0.5);
}

.gallery span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: linear-gradient(
        -225deg,
        #16db65 0%,
        #058c42 50%,
        #04471c 100%
    );
    filter: blur(20px);
    z-index: 1;
    animation: rot 1s linear infinite, hue 3s linear infinite;
}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }   
    100% {
        transform: rotate(360deg);
    } 
}

@keyframes hue {
    0% {
        filter: rotate(0deg);
    }
    100% {
        filter: rotate(360deg);
    }
}


@keyframes blink {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media (max-width: 1024px) {

    .Home{
        display: flex;
        flex-direction: column;
        gap: 100px;
        margin-top: 0px;
        margin-left: 10%;
        margin-right: 5%;
        margin-bottom: 50px;
    }

    .Home h4{
        font-size: 50px;
        margin-bottom: 0px;
    }

    .Home .welcome{
        font-size: 14px;
        
    }

    .Home p span{
        margin: 0;
    }

    .Home p{
        font-size: 32px;
        margin-top: 0;
    }

    .Home .topic{
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .about {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .about .aboutme p{
        font-size: 14px;
    }

    .about .aboutme h4{
        font-size: 50px;
    }

    .icons {
        display: flex;
        margin-bottom: 20px;
    }

    .gallery {
        justify-content: center;
        width: 20vw;
        height: 20vw;
        max-width: 300px;
        max-height: 300px;
        margin-top: 20px;
    }

    nav{
        background-color: var(--background-color);
        border: none;
        position: relative;
        justify-content: flex-end;
        margin-top: 20px;
        margin-right: 10%;
        background-color: rgba(13, 40, 24, 0);
        cursor: pointer;
    }

    .nav{
        padding: 0;
    }

    .nav .nav-links{
        display: none;
    }

    .nav button{
        display: none;
    }

    .nav .logo{
        display: none;
    }

    .hamburger {
        display: flex;
        padding: 10px;
        position: fixed;
    }

    .mobile-menu.active {
        display: flex;
        position: relative;
    }
    
    .Home .overview pre{
        margin-right: 10%;
    }

    .row1-skills {
      display: flex; 
      flex-direction: column !important;
      justify-content: center;
      align-items: center;
    }

    .row2-skills{
      display: flex; 
      flex-direction: column !important;
      justify-content: center;
      align-items: center;
    }
  
    .skills {
      height: 200% !important;
      width: 100% !important;
    }
  
    .box {
      width: 120px !important; 
      height: 125px !important;  
      margin-bottom: 20px !important;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
  
    .box .content .percent {
      width: 70px !important;  
      height: 70px !important; 
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
    }
  
    .box .content .percent::before {
      font-size: 0.5rem !important; 
    }
  
    .box .content .percent svg {
      width: 70px !important;  
      height: 70px !important;  
      position: absolute;
      display: flex;
    }
  
    .box .content .percent .dot::before {
      width: 10px !important;  
      height: 10px !important; 
    }
  
    .percent svg circle:first-child {
      stroke: #e6e6e6;
      position: absolute;
    }
    
    .percent svg circle:last-child {
      stroke-dasharray: 188.4 !important;
      stroke-dashoffset: calc(188.4 - (188.4 * var(--num)) / 100) !important;
      stroke: #00ff43;
    }

    .box .content .percent svg circle {
      cx: 35;  
      cy: 35;  
      r: 30;  
      stroke-width: 5;  
    }
  
    .box .content .number h2 {
      font-size: 1.2rem !important; 
    }

    .percent svg {
      position: relative;
      width: 50% !important;
      height: 50% !important;
      transform: rotate(-90deg) !important;
      right: 6px;
      top: 5px;
    }
}

.skills {
  margin-top: 50px;
  background-color: var(--secondary-color);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.skills-content{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills h4 {
  display: flex;
  position: relative;
  font-size: 50px;
  align-items: center;
  justify-content: center;
}

.row1-skills{
  display: flex;
  flex-direction: row;
  margin-right: 10%;
}

.row2-skills{
  display: flex;
  flex-direction: row;
  margin-right: 10%;
}

.s1{
  margin-top: 50px;
  margin-left: 10%;
}

.box {
  position: relative;
  width: 240px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 100%;
  background: linear-gradient(#fff, #fff, #e3e3e3);
  filter: blur(1px);
  z-index: 1;
}

.box::after {
  content: '';
  position: absolute;
  top: 1px;
  right: -1px;
  width: 20px;
  height: 100%;
  background: #9d9d9d;
  filter: blur(1px);
  z-index: 1;
}

.box .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #eee;
}

.box .shadow::before {
  content: '';
  position: absolute;
  top: 0;
  left: calc(100% + 5px);
  width: 100%;
  height: 200%;
  background: linear-gradient(rgba(0,0,0,0.075), transparent);
  transform: skewX(45deg);
}

.box .shadow::after {
  content: '';
  position: absolute;
  bottom: -200%;
  left: calc(100% + 15px);
  width: 100%;
  height: 200%;
  background: linear-gradient(rgba(0,0,0,0.075), transparent);
  transform: skewX(45deg);
}

.box .content {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(#dbdae1, #a3aaba);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1),
    15px 15px 15px rgba(0,0,0,0.1),
    20px 20px 20px rgba(0,0,0,0.1),
    50px 50px 50px rgba(0,0,0,0.1),
    inset 3px 3px 2px #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box .content .percent {
  position: relative;
  width: 150px;
  height: 150px;
}

.box .content .percent::before {
  content: attr(data-text);
  position: absolute;
  inset: 20px;
  background: var(--fourth-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.75rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.box .content .percent svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
}

.box .content .percent svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 3;
  stroke: rgba(0,0,0,0.05);
  transform: translate(5px, 5px);
}

.box .content .percent svg circle:nth-child(2) {
  stroke: var(--fourth-color);
  stroke-dasharray: 440;
  stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
  opacity: 0;
  animation: fadeIn 0.5s linear forwards;
  animation-delay: 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.box .content .percent .dot {
  position: absolute;
  inset: 5px;
  z-index: 10;
  animation: animateDot 2s linear forwards;
}

@keyframes animateDot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(calc(3.6deg * var(--num)));
  }
}

.box .content .percent .dot::before {
  content: '';
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  background: var(--fourth-color);
  border-radius: 50%;
}

.box .content .number {
  position: relative;
  inset: 0;
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 2.5s;
}

.box .content .number h2 {
  font-size: 2.5rem;
  color: var(--fourth-color);
}

.box .content .number h2 span {
  font-weight: 300;
  font-size: 1.5rem;
}